
<h1>Users</h1>

<table>


  <tbody>
    <% @users.each do |user| %>
      <% next if user == current_user %>
      <tr>
        <td><%= link_to "#{user.name}", user_path(user) %></td>
        <% if current_user.friends.include?(user) %>
          <td><%= link_to 'Remove friend', remove_friend_path(user), method: :delete %></td>
        <% elsif current_user.sent_friend_requests.include?(user) %>
          <td><%= 'Friend request sent.' %></td>
        <% elsif current_user.received_friend_requests.include?(user) %>
          <% friends_hash = { user_id: user.id, friend_id: current_user.id } %>
          <td>
            <%= 'Accept friend request?' %>
            <%= link_to 'Yes / ', confirm_friend_path(current_user.id), method: :post %>
            <%= link_to 'No', friendship_path(user, id: "#{current_user.id}", friendship: friends_hash, format: "html"), method: :delete %>
          </td>
        <% else %>
          <% friends_hash = { user_id: current_user.id, friend_id: user.id } %>
          <td><%= link_to 'Add friend', friendships_path(user), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>